*{
    box-sizing: border-box;
    margin :0;
    padding: 0;
}
nav{
    display:flex;
    background-color: antiquewhite;
    height: 40px;
    gap: 20px;
    justify-content: space-between;
    padding-top: 10px;
    position: sticky;
}
nav .left-nav{
   
   
    margin-left: 20px;
}
nav .left-nav a{
   
   text-decoration: none;
    margin-left: 20px;
}
nav .left-nav a:hover{
   
     color: black;
     font-size: large;
 }
 nav .right-nav ul{
    display: flex;
    gap: 30px;
    padding-right: 20px;
    
 }
nav .right-nav ul li  {
    
    list-style: none;
}
nav .right-nav ul li a  {
    
    text-decoration: none;
}
nav .right-nav ul li a:hover  {
    font-size: small;
    color: black;
    
}



h1{
    text-align: center;
}

.box{
display: flex;

}
.box1,.box2,.box3{

    height: 100px;
    width: 100px;
    padding: 10px;
}
.box1{
    background-color: green;
}
.box2{
    background-color: blue;
}
.box3{
    background-color: red;
}