*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
/* header css */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: antiquewhite;

}
#logo {
    font-size: 24px;
    font-weight: bold;
    flex: 1;
}
#nav-bar {
    display: flex;
    gap: 30px;
    flex: 1;
    justify-content: center;
    text-decoration: none;
}

#login-panel {
    flex: 1;
    text-align: right;
    font-size: 16px;
}


/* loginpage css  */

#login-page{
    border: 1px solid black;
    height: 200px;
    width: 300px;
}

/* footer css */
